* {
    margin: .5rem;
    color-scheme: dark;
    font-family: 'Courier New', Courier, monospace;
}

a {
    color: white;
}

dialog {
    background: black;
    color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

dialog input, dialog button {
    display: block;
}

div#btns button {
    padding: .5em;
}

pre {
    padding: 1em;
    overflow-x: scroll;
    max-width: 100%;
}

div.big {
    height: 100vh;
    display: grid;
    grid-template-rows: 1fr auto;
}

div#grp.big div#btns {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(1em, 18.7vw));
    grid-template-rows: repeat(auto-fit, minmax(1em, 20vh));
    grid-gap: 1em;
}

div#grp.big div#btns button {
    background-color: #000000;
    border: 0.1em solid #ffffff;
    padding: 1rem;
}

div#grp.big div pre {
    max-height: 40vh;
}

